<!--整个底部导航组件-->
<template>
  <div class="footer_guide">
    <!--on: 表示样式  /msite'===$route.path 表达式; 表示: 如果该路由路径等于指定的路由，就被选中-->
    <sapn class="guide_item" :class="{on: '/msite'===$route.path}"  @click="goTo('/msite')">
      <span class="item_icon">
        <!--引入阿里图标 通过类样式 -->
        <i class="iconfont iconu"></i>
      </span>
      <span>外卖</span>
    </sapn>
    <sapn class="guide_item" :class="{on: '/search'===$route.path}" @click="goTo('/search')">
      <span class="item_icon">
        <i class="iconfont iconsousuo"></i>
      </span>
      <span>搜索</span>
    </sapn>
    <sapn class="guide_item" :class="{on: '/order'===$route.path}" @click="goTo('/order')">
      <span class="item_icon">
        <i class="iconfont icontuanduicankaoxian-"></i>
      </span>
      <span>订单</span>
    </sapn>
    <span class="guide_item" :class="{on: '/profile'===$route.path}" @click="goTo('/profile')">
      <span class="item_icon">
        <i class="iconfont iconren"></i>
      </span>
      <span>我的</span>
    </span>
  </div>
</template>

<script>
    export default {
        // 事件监听
        methods:{
            // 导航组件页面跳转通过: $router.replace
            goTo (path) {
              this.$router.replace(path)
            }
        }
    }
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "../../common/stylus/mixins.styl"
  .footer_guide  // 底部导航
    top-border-1px(#e4e4e4)
    position fixed
    z-index 100
    left 0
    right 0
    bottom 0
    background-color #fff
    width 100%
    height 50px
    display flex
    .guide_item
      display flex
      flex 1
      text-align center
      flex-direction column
      align-items center
      margin 5px
      color #999999
      &.on  //
        color #02a774
      span
        font-size 12px
        margin-top 2px
        margin-bottom 2px
        .iconfont
          font-size 22px
</style>
