<template>
  <div id="app"> <!--固定id-->
    <!-- 通过路由显示对应的页面 -->
    <!-- 用来显示的标签 可以不和 router-link一起用 只要设置的路由-->
    <router-view/>
    <!--底部组件  $route 表示当前路由 在index.js中定义-->
    <FooterGuide v-show="$route.meta.showFooter"/>
  </div>
</template>

<script>
import FooterGuide from './components/FooterGuide/FooterGuide'
export default {
    // 映射标签
    components: {
      FooterGuide
    }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "./common/stylus/mixins.styl";
  .app
      width 100%
      height 100%
      background #f5f5f5
</style>
